# ignores

*~
m4/
aclocal.m4
autom4te*
Makefile
config.log
config.status
configure
libtool

.deps/
.libs/
config.h
stamp-h1
*.in
*.o
*.lo
*.la

contrib/gtest-1.7.0/
supplement/config_parser/src/*.h
supplement/config_parser/src/*.c
supplement/config_parser/src/mod_websocket_config_validator
